[submodule "backend/aquila"]
	path = backend/aquila
	url = git://github.com/zsiciarz/aquila.git
[submodule "backend/jsoncpp"]
	path = backend/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
